@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron uniwatch-bg">
    <h1>UniWatch</h1>
    <p class="lead">We see you, we know who you are, you cannot escape attendance.</p>
    <p><a href="@Url.Action("Register", "Account")" class="btn btn-default">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Save Time</h2>
        <p>
            You will never need to pass the attendance sheet around the classroom. Simply snap a few pictures of the classroom, 
            upload, and we'll do the rest.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Stay Informed</h2>
        <p>Stay up-to-date with the most recent attendance reports</p>
    </div>
    <div class="col-md-4">
        <h2>Notify Students</h2>
        <p>Text and email students that aren't seen during the attendance period.</p>
    </div>
</div>