@model IEnumerable<UniWatch.Models.Student>

<div id="studentList" class="row">
    <div class="col-md-4">
        @if(!Model.Any())
        {
            <p>No results to display</p>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Student</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var student in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink($"{student.FirstName} {student.LastName}", "Upload", new { studentId = student.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>