@model IEnumerable<UniWatch.Models.Student>

<div class="row help-block">
    &nbsp;
    <div class="col-md-4">
        <div class="form-group form-horizontal">
            @using (Ajax.BeginForm(
                new AjaxOptions
                {
                    HttpMethod = "get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "studentList"
                }))
            {
                <div class="input-group">
                    <input type="search" name="searchTerm" class="form-control"/>
                    <div class="input-group-btn">
                        <input type="submit" class="btn btn-default" value="Search"/>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@Html.Partial("_ProfileSearch", Model)

<p>
    @Html.ActionLink("Back", "Index", "Student", null, new { @class = "btn btn-default" })
</p>