@model UniWatch.ViewModels.UnEnrollViewModel

<h3>Unenroll @string.Format("{0} {1}", Model.Student.FirstName, Model.Student.LastName) from @Model.Class.Name ?</h3>

<p>Removing this student from this class will delete all associated data and cannot be undone. Proceed?</p>

<div>
    @using (Html.BeginForm("UnEnroll", "Student", new { classId = Model.Class.Id, studentId = Model.Student.Id }, FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Cancel", "Index", new { classId = Model.Class.Id }, new { @class = "btn btn-default" })
            <input type="submit" value="Confirm" class="btn btn-danger" />
        </div>
    }
</div>