body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Main */
.uniwatch-bg {
    background: url("https://static.pexels.com/photos/30200/pexels-photo-30200.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .uniwatch-bg .lead {
        color: white;
        text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
        -moz-text-shadow: 0 0 2px #000;
        -webkit-text-shadow: 0 0 2px #000;
    }

/* Student */
.student-name {
    vertical-align: middle !important;
}

/* Carousel */
.carousel {
    max-height: 400px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    max-height: 400px;
}
