@model UniWatch.Models.Class

<h3>Delete @($"\"{Model.Name} {Model.Number}-{Model.Section}\" for {Model.Semester} {Model.Year}?")</h3>

<p>This will delete all information related to this class - enrollments, recorded lectures... and cannot be undone. Proceed?</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="form-actions no-color">
        @Html.ActionLink("Back to List", "Index", new { teacherId = Model.Teacher.Id }, new { @class = "btn btn-default" })
        <input type="submit" value="Yes" class="btn btn-danger" />
    </div>
}