@model UniWatch.ViewModels.Lecture.ReportViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Class.Name</h2>
<hr />

@{
    @*@Html.ActionLink("New Lecture", "Create", "Lecture", new { classId = Request.QueryString["classId"] }, null)*@

    if (!Model.Lectures.Any())
    {
        <h4>There are no lectures for this class</h4>
    }
    else
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Student</th>

                @foreach (var lecture in Model.Lectures)
                {
                    <th class="text-center">
                        @Html.ActionLink(
                            lecture.RecordDate.ToShortDateString(),
                            "Override",
                            "Lecture",
                            new
                            {
                                lectureId = lecture.Id
                            },
                            null
                        )
                    </th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td>@string.Format($"{student.FirstName} {student.LastName}")</td>
                    
                    @foreach (var lecture in Model.Lectures)
                    {
                        var isPresent = Model.Attendance[lecture.Id].SingleOrDefault(a => a.Student.Id == student.Id)?
                            .Present ?? false;

                        <td class="text-center">
                            @if (isPresent)
                            {
                                <span class="glyphicon glyphicon-ok" style="color: green;"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-remove" style="color: red;"></span>
                            }
                        </td>
                    }
                </tr>  
            }
            </tbody>
        </table>
    }
}